* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */

    --white-color: #eef3f9;
    --light-blue: #b3cde4;
    --blue: #537692;
    --dark-blue: #1d3f58;
}

body {
    background-color: var(--light-blue);
    font-family: sans-serif;
}

header {
    padding: 1rem;
    background-color: var(--blue);
}

form > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

input {
    min-width: 0;
    flex-shrink: 1;
    border-radius: 8px;
    border: none;
    padding: 0.5rem 1rem;

}

input:focus {
    outline: 2px solid var(--dark-blue);
    
}

form button {
    flex-shrink: 0;
    background-image: url("img/search.svg");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 4rem;

    cursor:pointer;
    border: none;

    background-color: var(--dark-blue);
    border-radius: 6px;

}   

form button:hover {
    background-color: var(--light-blue);
}

form img {
    display: block;
    height: 100%;
}

main {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: var(--light-blue);
}

.weather {
    display: grid;
    grid-template-columns: minmax(40%, 200px) minmax(60%, 240px);
    grid-template-rows: repeat(3, minmax(150px, 33%));
    justify-content: center;
    background-color: var(--blue);
    color: var(--white-color);
    box-shadow: 0 0 50px var(--dark-blue);
    border-radius: 0 0 50px 50px;
}

.information {
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
    background-color: var(--dark-blue);
    box-shadow: 0 2px 2px  black;
}

#city {
    font-size: 3rem;
}

#sky {
    font-size: 1.5rem;
}

.temperature {
    font-size: 3rem;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.more span {
    text-wrap: nowrap;

}

.more img {
    height: 2rem;
    width: 2rem;
    color: var(--white-color);
}

.description {
    grid-row: 3;
    grid-column: span 2;
    padding: 0 2rem;
}

.error-message[data-visible="true"] {
    opacity: 1;
    color:maroon;
    font-size: 1.2rem;
    font-weight: bold;
}

.error-message {
    opacity: 0;
    text-align: center;
}