* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}

header {
    padding: 1em;
}

form > div {
    display: flex;
    justify-content: center;
}

input {
    min-width: 0;
    flex-shrink: 1;
}
form button {
    flex-shrink: 0;
    background-image: url("img/search.svg");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 4rem;

    cursor:pointer;
}   

form button:hover {
    background-color: darkgray;
}

form img {
    display: block;
    height: 100%;
}

main {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.weather {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 150px));
    grid-template-rows: repeat(3, minmax(150px, 33%));
    justify-content: center;
}

.information {
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
}

#city {
    font-size: 3rem;
}

#sky {
    font-size: 1.5rem;
}

.temperature {
    font-size: 3rem;

}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}


.more img {
    height: 2rem;
    width: 2rem;
}

.description {
    grid-row: 3;
    grid-column: span 2;
}

.error-message[data-visible] {
    display: block;
    opacity: 1;
    color: red;
}

.error-message {
    opacity: 0;
    text-align: center;
}